@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");


button {
  position: relative;
  margin-left: 19px;
  margin-top: 50rem;
  width: 368px;
  height: 63px;
  background: rgba(22, 39, 47, 0.77);
  box-shadow: 2px 2px 2px rgb(23 34 39 / 72%), -1px -1px 1px rgb(50 65 69 / 68%);
  border-radius: 40px;
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  line-height: 48px;
  color: #ffffff;
}

section img{
  position: absolute;
}