@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"); 



body{
    width: 428px; 
    min-height: 926px; 
    background-image: url("backgroundsmoke.png");
    background-repeat: no-repeat;
    color: white;
    font-family: "Rock Salt",cursive;
    padding: 30px;
   
}

.Insertplayer{
    
    width: 319px;
    height: 42px;
    left: 47px;
    top: 205px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 5px;
    color: white;
}
.title{
    
    font-size: 35px;
    line-height: 84px;
    color: #FFFFFF;
    background: rgba(53, 78, 95, 0.58);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.42), inset -2px -2px 4px rgba(255, 255, 255, 0.35);
    border-radius: 5px; 
    width: 90%;
    display: flex;
    justify-content: center;
    
}
header{
    margin-bottom: 41px;
    justify-content: flex-start;
    display: flex;
}
.nameINput{
    width: 132px;
    

}

/*dav*/
    .placaplayer img{
        background-color: rgba(255, 99, 71, 0.342);
        position: absolute;
        display: flex;
    }
    .placaInfo{
    width: 100px;
    display: flex;
    justify-content:space-between;
    margin:20px;
    margin-left: 80px;
    padding: 20px;
    position: relative;
    }
    .placaInfo img{
    width: 70px;
    margin-left: 60px; 

    }
    .btn_start{
    
    margin-left: 3%;
    width: 338px;
    height: 50px;
    color:white;
    background: rgba(24, 40, 63, 0.62);
    box-shadow: 2px 2px 2px rgba(23, 34, 39, 0.72), -1px -1px 1px rgba(50, 65, 69, 0.68);
    border-radius: 40px;
    
    
    } 